section{
    height: 100%;
    width: 100%;
    padding: 1vh 0;
    overflow: auto;
}

#my-video{
    width: 90%;
    display: block;
    margin: auto;
}
.main-video{
    position: relative;
}
.btn{
    background-color: rgb(255, 200, 200);
    position: absolute;
    top: 26%;
    width: 40%;
    height: 50%;
    font-family: Didot;
    font-weight: bold;
    left: 30%;
    color: black;
    border-radius: 50%;

}
h2{
    font-style: italic;
    font-family: Didot;
    font-size: 6vw;
    padding: 3vh 0;
    color: #707070;
    text-align: center;
}
.video{
    margin: 1%;
}
@media only screen and (min-width: 961px){
    html,body{
        height: auto;
    }
    .video{
        margin: 1% 10%;
    }
    .video-first{

    }
    h2{
        font-size: 3vw;
    }
}